####################################
# Build
####################################

bin/
obj/

####################################
# Visual Studio
####################################

.vs/
.vscode/

####################################
# Rider
####################################

.idea/

####################################
# User files
####################################

*.user
*.suo

####################################
# Docker
####################################

.env

####################################
# Logs
####################################

*.log

####################################
# Publish
####################################

publish/

####################################
# OS
####################################

Thumbs.db
.DS_Store